<div class="container">
  <div class="row">
    <div class="col-md-4" style="background-color:black;">
      <h2>SmartHealth</h2>
    </div>
    <div class="col-md-7" style="background-color:#1c1b1b;">
      <div *ngIf="roleSelected==0">
        <p>Hello {{ ownerName }} Welcome!</p>
      </div>
      <div *ngIf="roleSelected==1">
        <p>Hello {{ hcpName }} Welcome! {{ hcpAddress }}</p>
      </div>
    </div>
    <div class="col-md-1">
      <div class="pull-right">
        <p></p>
        <div *ngIf="ownerMenuSelected==0 || hcpMenuSelected==0">
          <button (click)="connectWallet()" type="button" class="btn btn-primary"> Sign-In</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div *ngIf="roleSelected==0">
    <!-- Owner Menu and Details-->
    <div class="row">
      <div class="col-md-4" style="background-color:black;">
        <h3>Menu</h3>
        <hr>
        <ul class="menuItems">
          <li>
            <button type="button" (click)="onCreateEHR(1)">
              <span class="badge"></span>
              <span class="name">Create Health Record</span>
            </button>
          </li>
          <li>
            <button type="button" (click)="onAuthorizeHCP(2)">
              <span class="badge"></span>
              <span class="name">Authorize Health Record</span>
            </button>
          </li>
          <li>
            <button type="button" (click)="onOwnerExit(3)">
              <span class="badge"></span>
              <span class="name">Exit</span>
            </button>
          </li>
        </ul>
      </div>

      <div class="col-md-1">
      </div>
      <div class="col-md-7" style="background-color:black;">
        <h3>Details</h3>
        <hr>
        <div *ngIf="ownerMenuSelected==1">
          <h6 class="h6">Health Summary</h6>


          <div class="form-group row row align-items-center">
            <div class="col">
            <p for="ownerName">Name</p>
          </div>
          <div class="col">
            <input #ownerName type="text" placeholder="John Smith" class="form-control">
          </div>
         
          </div>
          
          <div class="form-group row row align-items-center">
            <div class="col">
            <label for="other">Age</label>
          </div>
            <div class="col">
              <input #other type="text" placeholder="25" class="form-control">
            </div>
          </div>
          <div class="form-group row row align-items-center">
            <div class="col">
            <label for="other">Birth Sex</label>
          </div>
            <div class="col">
              <input #other type="text" placeholder="Male" class="form-control">
            </div>
          </div>
          <div class="form-group row row align-items-center">
            <div class="col">
            <label for="other">Height</label>
          </div>
            <div class="col">
              <input #other type="text" placeholder="70" class="form-control">
            </div>
          </div>

            <div class="form-group row row align-items-center">
              <div class="col">
              <label for="other">Weight</label>
            </div>
              <div class="col">
                <input #other type="text" placeholder="150" class="form-control">
              </div>
           <br><br><br>
          <div>
              <h6 class="h6">Vitals</h6>
         
              <div class="form-group row row align-items-center">
                <div class="col">
            <label for="ownerName">Heart Rate</label>
          </div>
            <div class="col">
              <input #ownerName type="text" placeholder="75bpm" class="form-control">
            </div>
          </div>
          <div class="form-group row row align-items-center">
            <div class="col">
            <label for="ownerName">Blood Pressure</label>
          </div>
            <div class="col">
              <input #ownerName type="text" placeholder="120/80 mmHg" class="form-control">
            </div>
          </div>
           
          <div class="form-group row row align-items-center">
            <div class="col">
            <label for="ownerName">Saturation</label>
          </div>
            <div class="col">
              <input #ownerName type="text" placeholder="98 %" class="form-control">
            </div>
          </div>
          
          
          <div class="form-group row row align-items-center">
            <div class="col">
              <label for="ownerName">Temperature</label>
            </div>
            <div class="col">
              <input #ownerName type="text" placeholder="99.5 F" class="form-control">
            </div>
          </div>
          
          
          <div class="container text-center">
            <div class="row">
              <div class="col">
               </div>
              <div class="col">
              </div>
              <div class="col">
                <button (click)="{}" type="button" class="btn btn-primary"> Submit</button>
              </div>
            </div>
          </div>

          
          </div>
        </div>
      </div>
        <div *ngIf="ownerMenuSelected==2">
          

          <div class="form-group row row align-items-center">
            <div class="col">
            <p for="ownerName">HCP Name</p>
          </div>
          <div class="col">
            <input #ownerName type="text" placeholder="Summit Medical Clinic" class="form-control">
          </div>
        </div>

        <div class="form-group row row align-items-center">
          <div class="col">
          <p for="ownerName">Information to Authorize</p>
        </div>
        <div class="col ">
          <div class="col">
            
            <select class="form-select-bg-size: 22px" aria-label="Default select example" >
              <option selected>Vitals</option>
              <option value="1">Analitics1</option>
              <option value="2">Analitics2</option>
              <option value="3">Analitics3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group row row align-items-center">
        <div class="col">
        <p for="ownerName">HCP Name</p>
      </div>
      <div class="col">
        <input #ownerName type="text" placeholder="PCP Referral" class="form-control">
      </div>
    </div>
    <button (click)="{}" type="button" class="btn btn-primary"> Submit</button>



          </div>



        
        <div *ngIf="ownerMenuSelected==3">
          <div class="form-group row">
            <label for="other">Todo</label>
            <div class="col-sm-3">
              <input #other type="text" placeholder="Todo" class="form-control">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="roleSelected==1">
    <!-- HCP Menu and Details -->
    <div class="row">
      <div class="col-md-4" style="background-color:black;">
        <h3>Menu</h3>
        <hr>
        <ul class="menuItems">
          <li>
            <button type="button" (click)="onAccessPatientInfo(1)">
              <span class="badge"></span>
              <span class="name">Access Patient Info</span>
            </button>
          </li>
          <li>
            <button type="button" (click)="onHcpExit(2)">
              <span class="badge"></span>
              <span class="name">Exit</span>
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-7" style="background-color:black;">
      <h3>Details</h3>
      <hr>
    </div>


    <!-- Repeat the above for HCP -->
  </div>
</div>
