<!-- Begin Landing page and Role play -->

<nav class="navbar navbar-expand-lg navbar-light bg-light"  id="smarthealth-header">
  <div class="container-fluid">
    <div class="title">
      <h1><strong class="smart">Smart</strong><strong class="health">Health</strong></h1>
    </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div *ngIf="ownerMenuSelected==0 || hcpMenuSelected==0 || roleSelected==-1">
            <a class="nav-link active" id="active" aria-current="page" href="#">Home</a>
          </div>
        </li>
        <li class="nav-item">
          <div *ngIf="ownerMenuSelected==0 || hcpMenuSelected==0 || roleSelected==-1">
            <a class="nav-link" href="#">Features</a>
          </div>
        </li>
        <li class="nav-item">
          <div *ngIf="ownerMenuSelected==0 || hcpMenuSelected==0 || roleSelected==-1">
            <a class="nav-link" href="#">Team</a>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="ownerMenuSelected==0 || hcpMenuSelected==0 || roleSelected==-1">
      <button (click)="connectWallet()" type="button" class="btn btn-outline-primary" id="btn"> Sign In</button>
    </div>
    <div *ngIf="roleSelected==0" class="greeting">
      <p>Hello {{ signedRole }}, &nbsp; welcome!</p>
    </div>
    <div *ngIf="roleSelected==1" class="greeting">
      <p>Hello {{ signedRole }}, &nbsp; welcome!</p>
    </div>
    <!-- <div *ngIf="roleSelected==-1" class="greeting">
      <p>Good bye  {{ signedRole }}!</p>
    </div> -->
</nav>

<br>

<div *ngIf="ownerMenuSelected==0 || hcpMenuSelected==0 || roleSelected==-1" class="content">
    <h1 class="heading">Your Healthcare Information Managed And Authorized By You</h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Why SmartHealth?</h3>
          <p>Healthcare data breaches hit all-time high in 2021, impacting 45M people and continues to grow as health systems and hospitals are under unprecedented stress from the pandemic. </p>
          <button  class="btn btn-outline-primary" id="content-btn">Learn More</button>
        </div>
        <div class="col">
          <h3>How Does SmartHealth Help Humanity?</h3>
          <p>Leverages Blockchain technology to give the control back to you
            Secure login, creation and management of your own Electronic Health Record
            Need-to-know information provided by you to an authorized party</p>
            <button  class="btn btn-outline-primary" id="content-btn">Learn More</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>What is SmartHealth?</h3>
          <p>SmartHealth provides a secure platform using blockchain technology for exchanging Electronic Health Records authorized by the patient to specific helathcare providers.</p>
          <button  class="btn btn-outline-primary" id="content-btn">Learn More</button>
        </div>
        <div class="col">
          <h3>Working Software Demo</h3>
          <p>
            <strong>1. </strong>&nbsp; Front-end Angular, Bootstrap, Typescript
            <br>
            <strong>2. </strong>&nbsp; Integration With Metamask for Registration and Log In
            <br>
            <strong>3. </strong>&nbsp; EHR/PHR data Creation, Update, Transfer Capabilities
            <br>
            <strong>4. </strong>&nbsp; Back-end Nest.js with Node, Testnet, Solidity, Typescipt
            <br>
            <strong>5. </strong>&nbsp; Smart Contracts Support the Front-end Capabilities
            <br>
            <strong>6. </strong>&nbsp; External Oracle Integration with PriceMedic</p>
        </div>
      </div>
  </div>
</div>

<!-- End Landing page and Role play -->


<!-- Begin Owner Menu and Details -->
  <div *ngIf="roleSelected==0">
    <!-- Owner Menu and Details-->
    <div class="row">
      <div class="screen-col">
        <h2>Menu</h2>
        <hr>
        <ul class="menuItems">
          <li>
            <button type="button" (click)="onCreateEHR(1)">
              <span class="badge"></span>
              <span class="name">Create Health Record</span>
            </button>
          </li>
          <li>
            <button type="button" (click)="onAuthorizeHCP(2)">
              <span class="badge"></span>
              <span class="name">Authorize Health Record</span>
            </button>
          </li>
          <li>
            <button type="button" (click)="onOwnerExit(3)">
              <span class="badge"></span>
              <span class="name">Exit</span>
            </button>
          </li>
        </ul>
      </div>

      <div class="col-md-1">
      </div>
      <div class="screen-col">
        <h2>Details</h2>
        <hr>
        <div *ngIf="ownerMenuSelected==1">
          <h4>Health Summary</h4>
          <br>

          <form [formGroup]="sub" class="form-horizontal">
            <div formGroupName="data" class="form-group row">
              <label class="control-label col-sm-3" for="other">Name</label>
              <div class="col-sm-3">
                <input formControlName="name" #other type="string" placeholder="John Smith" class="form-control">
              </div>
            </div>
            <div formGroupName="data" class="form-group row">
              <label class="control-label col-sm-3" for="other">Age</label>
              <div class="col-sm-3">
                <input formControlName="age" #other type="number" placeholder="25" class="form-control">
              </div>
            </div>
            <div formGroupName="data" class="form-group row">
              <label class="control-label col-sm-3" for="other">Birth Sex</label>
              <div class="col-sm-3">
                <input formControlName="sex" #other type="text" placeholder="Male" class="form-control">
              </div>
            </div>
            <div formGroupName="data" class="form-group row">
              <label class="control-label col-sm-3" for="other">Height</label>
              <div class="col-sm-3">
                <input formControlName="height" #other type="number" placeholder="170" class="form-control">
              </div>
            </div>
            <div formGroupName="data" class="form-group row">
              <label class="control-label col-sm-3" for="other">Weight</label>
              <div class="col-sm-3">
                <input formControlName="weight" #other type="number" placeholder="150" class="form-control">
              </div>
            </div>
           

          </form>
          <div>

            <div><br><br>
              <h6 class="h6">Vitals</h6>
              <br>
              <form [formGroup]="sub" action="" class="form-horizontal">

                <div formGroupName="data" class="form-group row">
                  <label class="control-label col-sm-3" for="other">Heart Rate</label>
                  <div class="col-sm-3">

                    <input formControlName="heartRate" #other type="number" placeholder=75 class="form-control">


                  </div>
                </div>
                <div formGroupName="data" class="form-group row">
                  <label class="control-label col-sm-3" for="other">Blood Pressure</label>
                  <div class="col-sm-3">
                    <input formControlName="bloodPressure" #other type="string" placeholder="25" class="form-control">
                  </div>
                </div>
                <div formGroupName="data" class="form-group row">
                  <label class="control-label col-sm-3" for="other">Saturation</label>
                  <div class="col-sm-3">
                    <input formControlName="oxygenSaturation" #other type="string" placeholder="98%"
                      class="form-control">
                  </div>
                </div>
                <div formGroupName="data" class="form-group row">
                  <label class="control-label col-sm-3" for="other">Temperature</label>
                  <div class="col-sm-3">
                    <input formControlName="temperature" #other type="string" placeholder="99.5 F" class="form-control">
                  </div>
                </div>
              </form>
            </div>
            <br>
            <div>
              <p></p>
              <div class="form-group row">
                <div class="col-md-5"></div>
                <div class="col-sm-4">
                  <button (click)="submitCreate(sub)" type="button" class="btn btn-outline-primary" id="submit"> Submit</button>
                </div>
              </div>
            </div>
          </div>
          <p></p>
        </div>


        <div *ngIf="ownerMenuSelected==2">
          <p></p>
          <h4>Authorization : </h4>

          <br>

          <form [formGroup]="sub2" class="form-horizontal ">
            <div formGroupName="hcp" class="form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-4" for="other">HCP Name</label>
              <div class="col-sm-4">
                <input formControlName="HCPName" type="text" placeholder="Summit Medical Clinic" class="form-control">
              </div>
            </div>
            <p></p>
            <div class="form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-4" for="other">Authorize</label>
              <div formGroupName="hcp" class="col-sm-4">
                <select  formControlName="vitals" class="form-select-bg-size: 25px" aria-label="Default select example">
                  <option selected>Vitals</option>
                  <option value="1">Analitics1</option>
                  <option value="2">Analitics2</option>
                  <option value="3">Analitics3</option>
                </select>
              </div>
            </div>
            <p></p>
            <div formGroupName="hcp" class="form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-4" for="other">Reason</label>
              <div class="col-sm-4">
                <input formControlName="reason" type="text" placeholder="PCP Referral" class="form-control">
              </div>
            </div>
          </form>
          <p></p>
          <div class="form-group row">
            <div class="col-md-5"></div>
            <div class="col-sm-4">
              <button (click)="submitAuthorize(sub2)" type="button" class="btn btn-outline-primary" id="submit"> Submit</button>
            </div>
          </div>
          <p></p>
          <p></p>
        </div>
      </div>
      <div *ngIf="ownerMenuSelected==3">
        <div class="form-group row">
          <label for="other">Todo</label>
          <div class="col-sm-3">
            <input #other type="text" placeholder="Todo" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Owner Menu and Details -->
  <!-- Begin HCP Menu and Details -->
  <div *ngIf="roleSelected==1">

    <div class="row">
      <div class="screen-col">
        <h2>Menu</h2>
        <hr>
        <ul class="menuItems">
          <li>
            <button type="button" (click)="onAccessPatientInfo(1)">
              <span class="badge"></span>
              <span class="name">Access Patient Info</span>
            </button>
          </li>
          <li>
            <button type="button" (click)="onHcpExit(2)">
              <span class="badge"></span>
              <span class="name">Exit</span>
            </button>
          </li>
        </ul>
      </div>

      <div class="col-md-1">
      </div>
      <div class="screen-col">
        <h2>Details</h2>
        <hr>

        <div *ngIf="hcpMenuSelected==1">
          <br>
          <h4>Patient :</h4>
          <br>
          <form action="" class="form-horizontal">
            <div class="hcp-form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-3" for="patientName">Patient Name</label>
              <div class="col-sm-4">
                <input #patientName type="text" placeholder="Joe Smith" class="form-control">
              </div>
            </div>
            <div>
              <p></p>
            </div>
            <div class="hcp-form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-3" for="dob">Date Of Birth</label>
              <div class="col-sm-4">
                <input #dob type="text" placeholder="12/05/2017" class="form-control">
              </div>
            </div>
            <div>
              <p></p>
            </div>
            <div class="form-group row">
              <div class="col-md-4"></div>
              <div class="col-sm-4">
                <button disabled="submitPatientInfo(patientName.value, dob.value)" type="submit" class="btn btn-outline-primary" id="submit">
                  Submit</button>
              </div>
            </div>
          </form>
          <div style="margin-top:50px;">
            <h4>Vitals: </h4>
            <br>
            <div class="hcp-form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-3" for="heartRate">Heart Rate</label>
              <div class="col-sm-3">
                <div class="info">&nbsp; {{ heartRate }} bpm</div>
              </div>
            </div>
            <div>
              <p></p>
            </div>
            <div class="hcp-form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-3" for="bp">Blood Pressure</label>
              <div class="col-sm-3">
                <div class="info">&nbsp; {{ bloodPressure }} mm Hg</div>
              </div>
            </div>
            <div>
              <p></p>
            </div>
            <div class="hcp-form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-3" for="oxygenSat">Oxygen Saturation</label>
              <div class="col-sm-3">
                <div class="info">&nbsp; {{ oxygenSaturation }} %</div>
              </div>
            </div>
            <div>
              <p></p>
            </div>
            <div class="hcp-form-group row">
              <div class="col-md-1"></div>
              <label class="control-label col-sm-3" for="temp">Temperature</label>
              <div class="col-sm-3">
                <div class="info">&nbsp; {{ temperature }} F</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p></p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <!-- End HCP menu and details -->