<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Group 6 Ballot dApp</h1>
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <div class="col-lg-6 mx-auto">
    <div *ngIf="!account">
      <p class="lead mb-4">Choose your connection method</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button (click)="createWallet()" type="button" class="btn btn-primary btn-lg px-4 gap-3">
          Create a Wallet
        </button>
        <button (click)="connectWallet()" type="button" class="btn btn-secondary btn-lg px-4 gap-3">
          Connect a Wallet
        </button>
        <button disabled type="button" class="btn btn-info btn-lg px-4 gap-3">
          Import a Wallet
        </button>
      </div>
    </div>
    <div *ngIf="account" align="left">
      <p class="lead mb-4">Account: {{ account }}</p>
      <p class="lead mb-4">Token contract is : {{ tokenContractAddress }}</p>
      <p class="lead mb-4">Ballot contract is : {{ ballotContractAddress }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-left">
        <div class="card p-2 m-2">
          <p>Ether Balance:</p>
          <p>{{etherBalance}}</p>
        </div>
        <div class="card p-2 m-2">
          <p>Tokens Balance:</p>
          <p>{{tokenBalance}}</p>
        </div>
        <div class="card p-2 m-2">
          <p>Voting Power:</p>
          <p>{{ votePower }}</p>
        </div>
      </div>
      <div>
        <hr style="width:50%;text-align:left;margin-left:0">
        <p><b>Request tokens:</b></p>
        <input #tokenAmt type="number" min="1" [max]="5" placeholder="1"/>
        <button (click)="request(tokenAmt.value)" type="button" class="btn btn-success btn-sm px-4 mx-2"> Get'em </button>
      </div>
      <div align="left">
        <hr style="width:50%;text-align:left;margin-left:0">
        <p><b>Proposals to vote on: </b></p>
        <p>0. Ironman </p>
        <p>1. CaptainAmerica </p>
        <p>2. Spiderman </p>
        <p>3. CaptainMarvel </p>
        <p>4. Wanda </p>
        <p>5. BlackWidow </p>
      </div>
      <div>
        <hr style="width:50%;text-align:left;margin-left:0">
        <p><b>Select a proposal number to vote: </b></p>
        <input #voteId type="number" min="1" [max]="votePower" placeholder="1"/>
        <button (click)="vote(voteId.value)" type="button" class="btn btn-success btn-sm px-4 mx-2"> Vote </button>
      </div>
      <div>
        <hr style="width:50%;text-align:left;margin-left:0">
        <button (click)="winner()" type="button" class="btn btn-success btn-sm px-4 mx-2">Winner</button>
        <b> is ... {{ winnerName }}</b>
        <hr style="width:50%;text-align:left;margin-left:0">
      </div>
    </div>
  </div>